/*! SmartMenus jQuery Plugin - v1.1.0 | MIT License | github.com/vadikom/smartmenus */
.sm-btn {
    position: relative;
    display: block;
    padding: 0.815em 40px;
    height: 24px;
    overflow: hidden;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    color: #BBB1A3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
}

.sm-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font: italic bold 18px/24px Verdana, Arial, Helvetica, sans-serif;
    color: #3092C0;
}

#sm-state:checked ~ .sm-btn .sm-title {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.sm-icon,
.sm-icon::before,
.sm-icon::after {
    position: absolute;
    top: 50%;
    left: 5px;
    height: 2px;
    width: 24px;
    background: #BBB1A3;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.sm-icon::before {
    content: "";
    top: -7px;
    left: 0;
}

.sm-icon::after {
    content: "";
    top: 7px;
    left: 0;
}

#sm-state:checked ~ .sm-btn .sm-icon {
    height: 0;
    background: transparent;
}

#sm-state:checked ~ .sm-btn .sm-icon::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#sm-state:checked ~ .sm-btn .sm-icon::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sm-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#sm-state:not(:checked) ~ .sm {
    display: none;
}

#sm-state:checked ~ .sm {
    display: block;
}

@media (min-width: 576px) {
    .sm-btn {
        position: absolute;
        top: -99999px;
    }

    #sm-state:not(:checked) ~ .sm {
        display: block;
    }
}

.sm {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sm,
.sm ul,
.sm li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
}

.sm-rtl,
.sm-rtl ul,
.sm-rtl li {
    direction: rtl;
    text-align: right;
}

.sm ul {
    display: none;
}

.sm li,
.sm a {
    position: relative;
}

.sm a {
    display: block;
}

.sm a.disabled {
    cursor: default;
}

.sm::after {
    content: "";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    overflow: hidden;
}

.sm *,
.sm *::before,
.sm *::after {
    box-sizing: inherit;
}

.sm a,
.sm a:hover,
.sm a:focus,
.sm a:active {
    padding: 13px 20px;
    padding-right: 58px;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;
}

.sm a.current {
    color: #d23600;
}

.sm a.disabled {
    color: #bbb;
}

.sm a .sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: auto;
    right: 4px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px/34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 5px;
}

.sm-rtl a .sub-arrow {
    left: 4px;
    right: auto;
}

.sm a .sub-arrow::before {
    content: "+";
}

.sm a.highlighted .sub-arrow::before {
    content: "-";
}

.sm li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.sm > li:first-child {
    border-top: 0;
}

.sm ul {
    background: rgba(162, 162, 162, 0.1);
}

.sm ul a,
.sm ul a:hover,
.sm ul a:focus,
.sm ul a:active {
    font-size: 14px;
    border-left: 8px solid transparent;
}

.sm ul ul a,
.sm ul ul a:hover,
.sm ul ul a:focus,
.sm ul ul a:active {
    border-left: 16px solid transparent;
}

.sm ul ul ul a,
.sm ul ul ul a:hover,
.sm ul ul ul a:focus,
.sm ul ul ul a:active {
    border-left: 24px solid transparent;
}

.sm ul ul ul ul a,
.sm ul ul ul ul a:hover,
.sm ul ul ul ul a:focus,
.sm ul ul ul ul a:active {
    border-left: 32px solid transparent;
}

.sm ul ul ul ul ul a,
.sm ul ul ul ul ul a:hover,
.sm ul ul ul ul ul a:focus,
.sm ul ul ul ul ul a:active {
    border-left: 40px solid transparent;
}

@media (min-width: 576px) {
    .sm ul {
        position: absolute;
        width: 12em;
    }

    .sm li {
        display: inline-block;
    }

    .sm ul li,
    .sm.sm-rtl ul li,
    .sm.sm-vertical li {
        display: block;
    }

    .sm a {
        white-space: nowrap;
    }

    .sm ul a,
    .sm.sm-vertical a {
        white-space: normal;
    }

    .sm .sm-nowrap > li > a,
    .sm .sm-nowrap > li >:not(ul) a {
        white-space: nowrap;
    }

    .sm {
        padding: 0 10px;
    }

    .sm a,
    .sm a:hover,
    .sm a:focus,
    .sm a:active,
    .sm a.highlighted {
        padding: 12px;
        color: #555;
    }

    .sm a:hover,
    .sm a:focus,
    .sm a:active,
    .sm a.highlighted {
        color: #d23600;
    }

    .sm a.current {
        color: #d23600;
    }

    .sm a.disabled {
        color: #bbb;
    }

    .sm a.has-submenu {
        padding-right: 24px;
    }

    .sm a .sub-arrow {
        top: 50%;
        margin-top: -2px;
        right: 12px;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: solid dashed dashed;
        border-color: #555 transparent transparent;
        border-radius: 0;
    }

    .sm a .sub-arrow::before {
        display: none;
    }

    .sm li {
        border-top: 0;
    }

    .sm > li > ul::before,
    .sm > li > ul::after {
        content: "";
        position: absolute;
        top: -18px;
        left: 30px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 9px;
        border-style: dashed dashed solid;
        border-color: transparent transparent #bbb;
    }

    .sm > li > ul::after {
        top: -16px;
        left: 31px;
        border-width: 8px;
        border-color: transparent transparent #fff;
    }

    .sm ul {
        border: 1px solid #bbb;
        padding: 5px 0;
        background: #fff;
        border-radius: 5px !important;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    }

    .sm ul a,
    .sm ul a:hover,
    .sm ul a:focus,
    .sm ul a:active,
    .sm ul a.highlighted {
        border: 0 !important;
        padding: 10px 20px;
        color: #555;
    }

    .sm ul a:hover,
    .sm ul a:focus,
    .sm ul a:active,
    .sm ul a.highlighted {
        background: #eee;
        color: #d23600;
    }

    .sm ul a.current {
        color: #d23600;
    }

    .sm ul a.disabled {
        background: #fff;
        color: #ccc;
    }

    .sm ul a.has-submenu {
        padding-right: 20px;
    }

    .sm ul a .sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555;
    }

    .sm .scroll-up,
    .sm .scroll-down {
        position: absolute;
        display: none;
        visibility: hidden;
        overflow: hidden;
        background: #fff;
        height: 20px;
    }

    .sm .scroll-up:hover,
    .sm .scroll-down:hover {
        background: #eee;
    }

    .sm .scroll-up:hover .scroll-up-arrow {
        border-color: transparent transparent #d23600;
    }

    .sm .scroll-down:hover .scroll-down-arrow {
        border-color: #d23600 transparent transparent;
    }

    .sm .scroll-up-arrow,
    .sm .scroll-down-arrow {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -6px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 6px;
        border-style: dashed dashed solid;
        border-color: transparent transparent #555;
    }

    .sm .scroll-down-arrow {
        top: 8px;
        border-style: solid dashed dashed;
        border-color: #555 transparent transparent;
    }

    .sm.sm-rtl a.has-submenu {
        padding-right: 12px;
        padding-left: 24px;
    }

    .sm.sm-rtl a .sub-arrow {
        right: auto;
        left: 12px;
    }

    .sm.sm-rtl.sm-vertical a.has-submenu {
        padding: 10px 20px;
    }

    .sm.sm-rtl.sm-vertical a .sub-arrow {
        right: auto;
        left: 8px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #555 transparent transparent;
    }

    .sm.sm-rtl > li > ul::before {
        left: auto;
        right: 30px;
    }

    .sm.sm-rtl > li > ul::after {
        left: auto;
        right: 31px;
    }

    .sm.sm-rtl ul a.has-submenu {
        padding: 10px 20px !important;
    }

    .sm.sm-rtl ul a .sub-arrow {
        right: auto;
        left: 8px;
        border-style: dashed solid dashed dashed;
        border-color: transparent #555 transparent transparent;
    }

    .sm.sm-vertical {
        padding: 10px 0;
        border-radius: 5px;
    }

    .sm.sm-vertical a {
        padding: 10px 20px;
    }

    .sm.sm-vertical a:hover,
    .sm.sm-vertical a:focus,
    .sm.sm-vertical a:active,
    .sm.sm-vertical a.highlighted {
        background: #fff;
    }

    .sm.sm-vertical a.disabled {
        background: #eee;
    }

    .sm.sm-vertical a .sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555;
    }

    .sm.sm-vertical > li > ul::before,
    .sm.sm-vertical > li > ul::after {
        display: none;
    }

    .sm.sm-vertical ul a {
        padding: 10px 20px;
    }

    .sm.sm-vertical ul a:hover,
    .sm.sm-vertical ul a:focus,
    .sm.sm-vertical ul a:active,
    .sm.sm-vertical ul a.highlighted {
        background: #eee;
    }

    .sm.sm-vertical ul a.disabled {
        background: #fff;
    }
}