/* padding */
.c-ptb-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-ptb-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* margin */
.c-ma {
    margin: 0 auto;
}

/* progress */
#prg {
    background: #ffe623;
    border: 0 solid #ddc507;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: ease-in all 0.5s;
}