parameters:
    level: max

    paths:
        - gaur
        - application/Controllers
        - application/Data
        - application/Helpers
        - application/Models
        - application/Views/app
        - application/Views/email

    bootstrapFiles:
        - application/Helpers/csp_helper.php
        - application/Helpers/data_helper.php
        - application/Helpers/html_helper.php
        - application/Helpers/xhtml_helper.php

    ignoreErrors:
        -
            message: '#Cannot call method (getRowArray|getResultArray)#'
            path: application/Models

        -
            message: '#Binary operation "." between string and array#'
            path: application/Models

        -
            message: '#Variable \$\w+ might not be defined#'
            path: application/Views/app

        -
            message: '#Variable \$\w+ might not be defined#'
            path: application/Views/email
