parameters:
    level: max

    paths:
        - gaur
        - application/Controllers
        - application/Data
        - application/Models
        - application/Views/app
        - application/Views/email

    autoload_files:
        - application/Helpers/csp_helper.php
        - application/Helpers/data_helper.php
        - application/Helpers/html_helper.php
        - application/Helpers/xhtml_helper.php

    ignoreErrors:
        -
            message: '#Cannot call method (getRowArray|getResultArray)#'
            path: application/Models

        -
            message: '#Binary operation "." between string and array<string>\|string results in an error.#'
            path: application/Models

        -
            message: '#Undefined variable: \$\w+#'
            path: application/Views/app

        -
            message: '#Undefined variable: \$\w+#'
            path: application/Views/email
